<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>

<div th:each="book : ${bookPage.content}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName() + ', ' + book.getAuthorName() + ', ' + book.getYear()}">book</a>
</div>

<br/>
<hr/>

<a href="/books/new">Create new book</a>
<br>
<hr/>

<span>Pages:</span>
<span th:if="${bookPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber}, sort_by_year=${param.sort_by_year})}"
       th:text=${pageNumber}
       th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</span>

</body>
</html>